---
import Layout from '@layouts/Layout.astro'
import Container from '@components/container.astro'
---

<Layout title="Spenden">
  <Container>
    <div class="my-3 py-5" style="text-align: center;">
      <h1>Hinweis:</h1>
      <b>Spenden sind aktuell nur per Banküberweisung möglich. Siehe untenstehende Bankverbindung.</b>
      <br />
      <br />
    </div>
  </Container>
</Layout>
