---
import Layout from '../layouts/Layout.astro'
import Container from '@components/container.astro'
// import Carousel from '@components/carousel/Carousel.jsx'
import Cta from '@components/Cta.astro'
import Newsletter from '@components/Newsletter.astro'
import Aktuelles from '@components/Aktuelles.astro'
import Carousel from '@components/carousel/Carousel.jsx'
import CarouselSevelte from '@components/carousel/Carousel.svelte'

import { Image } from 'astro:assets'
import baby from '@assets/carousel-img/baby.jpg'

import ctaImage from '@assets/cta.jpg'
import Carousel2 from '@components/carousel/Carousel2.astro'
const ctaAlt = 'test'
const ctaLink = 'Jetzt spenden'
---

<Layout title="Baerenherz - Verein für humanitäre Hilfe">
  <!-- <Carrousel client:load /> -->
  <Container>
    <div class="border-2 border-red-700 p-0">
      <!-- <Image src={baby} alt="baby" /> -->
      <Carousel client:idle />
      <!-- <Carousel2 client:idle /> -->
      <!-- <CarouselSevelte client:idle /> -->
    </div>
    <article class="py-10 md:px-14 xl:mx-auto xl:my-6 xl:w-3/4">
      <p>
        Bärenherz - Verein für humanitäre Hilfe - wurde 2021 in der Schweiz mit
        dem Ziel gegründet, dort zu helfen, wo lebensnotwendige Unterstützung
        benötigt wird. Wir sind ein unabhängiger Verein, der durch das
        persönliche und ehrenamtliche Engagement der Mitglieder sowie den
        jeweils im Vor-feld definierte Projekte in Sinne der Philosophie des
        Vereins unterstützt.
      </p>
    </article>
  </Container>
  <Cta ctaImage={ctaImage} ctaAlt={ctaAlt} ctaLink={ctaLink}>
    <Fragment slot="content1">
      „Mit meiner Mitgliedschaft kann ich die großartige Arbeit von Bärenherz
      unterstützen und habe das gute Gefühl eine Hilfe zu leisten, die auch zu
      100% dort ankommt, wo sie auch dringend gebraucht wird.“
    </Fragment>
    <Fragment slot="content2">Natascha Heye</Fragment>
    <Fragment slot="content3">Unternehmerin, Zürich</Fragment>
  </Cta>
  <Aktuelles />
  <Newsletter />
</Layout>
