---
import '@glidejs/glide/dist/css/glide.core.min.css'
import '@glidejs/glide/dist/css/glide.theme.min.css'

import Image1 from '@assets/carrousel-img/baby.jpg'
import Image2 from '@assets/carrousel-img/baby.jpg'
import Image3 from '@assets/carrousel-img/baby.jpg'

import Glide, {
  Controls,
  Breakpoints
} from '@glidejs/glide/dist/glide.modular.esm'

new Glide('.glide').mount({ Controls, Breakpoints })
---

<div>
  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide">0</li>
        <li class="glide__slide">1</li>
        <li class="glide__slide">2</li>
      </ul>
    </div>
  </div>
  <div data-glide-el="controls">
    <button data-glide-dir="<<">Start</button>
    <button data-glide-dir=">>">End</button>
  </div>
</div>
