---
import Container from '@components/container.astro'
---

<Container class="w-full bg-[#2b2523] text-xs/6 text-white">
  <footer
    class="flex w-full flex-col gap-3 py-10 md:flex-row md:justify-between md:gap-10">
    <div>
      <p>Bärenherz</p>
      <p>Verein für humanitäre Hilfe</p>
      <p>c/o Rainer Mück</p>
      <p>Untersellenstrasse 27</p>
      <p>CH-8873 Amden</p>
      <p class="py-2">
        Email: <a href="mailto:info@baerenherz.org">info@baerenherz.org</a>
      </p>
    </div>

    <div class="md:text-center">
      <p>Spendenkonto:</p>
      <p>Bärenherz – Verein für humanitäre Hilfe</p>
      <p>Thurgauer Kantonalbank</p>
      <p>IBAN CH91 0078 4297 6098 0200 1</p>
      <p>BIC KBTGCH22</p>
    </div>

    <div><a href="/impressum"> Impressum</a></div>
  </footer>
</Container>

<!-- 
  <div>
      <p class="mt-1 text-xs text-slate-500">
        Made by <a
          href="https://web3templates.com"
          target="_blank"
          rel="noopener"
          class="hover:underline">
          Web3Templates
        </a>
      </p>
      <div>
        <p class="text-sm text-slate-500">
          Copyright © {new Date().getFullYear()} Astroship. All rights reserved.
        </p>
      </div>
      <div>
        <p class="text-sm text-slate-500">
          Copyright © {new Date().getFullYear()} Astroship. All rights reserved.
        </p>
      </div>
    </div>

 -->
