---
import Container from '@components/container.astro'
import Facebook from '@assets/icons/facebook_icon.png'
import Instagram from '@assets/icons/instagram_icon.png'
import Linkedin from '@assets/icons/linkedin_icon.png'
---

<Container class="w-full bg-[#2b2523] text-xs/6 text-white">
  <footer
    class="flex w-full flex-col gap-3 py-10 md:flex-row md:justify-between md:gap-10">
    <div>
      <p>IMPRESSUM</p>
      <p>Bärenherz</p>
      <p>Verein für humanitäre Hilfe</p>
      <p>c/o Rainer Mück</p>
      <p>Untersellenstrasse 27</p>
      <p>CH-8873 Amden</p>
      <p class="py-2">
        Email: <a href="mailto:info@baerenherz.org">info@baerenherz.org</a>
      </p>
    </div>

    <div class="md:text-center">
      <p>Spendenkonto (für CHF-Überweisungen):</p>
      <p>Bärenherz – Verein für humanitäre Hilfe</p>
      <p>Thurgauer Kantonalbank</p>
      <p>IBAN CH91 0078 4297 6098 0200 1</p>
      <p>BIC KBTGCH22</p>
    </div>

    <div class="md:text-center">
      <p>Spendenkonto (für EURO-Überweisungen):</p>
      <p>Bärenherz – Verein für humanitäre Hilfe</p>
      <p>Thurgauer Kantonalbank</p>
      <p>IBAN CH64 0078 4297 6098 0200 2</p>
      <p>BIC KBTGCH22</p>
    </div>

    <div>
      <p>Mehr von Bärenherz:</p>
      <a
        href="https://www.linkedin.com/company/b%C3%A4renherz-verein-f%C3%BCr-humanit%C3%A4re-hilfe/"
        target="_blank">
        <img src={Linkedin.src} width="32px" height="32px" alt="LinkedIn" />
      </a>
      <a
        href="https://www.facebook.com/baerenherz.org/?locale=de_DE"
        target="_blank">
        <img
          src={Facebook.src}
          width="32px"
          height="32px"
          alt="Facebook"
          style="padding-top: 5px;"
        />
      </a>
      <a
        href="https://www.instagram.com/baerenherz_humanitaere_hilfe?igsh=MW9kdGE5ZHF6Y3NkdA=="
        target="_blank">
        <img
          src={Instagram.src}
          width="32px"
          height="32px"
          alt="Instagram"
          style="padding-top: 5px;"
        />
      </a>
    </div>
  </footer>

  <!-- 
  <div>
      <p class="mt-1 text-xs text-slate-500">
        Made by <a
          href="https://web3templates.com"
          target="_blank"
          rel="noopener"
          class="hover:underline">
          Web3Templates
        </a>
      </p>
      <div>
        <p class="text-sm text-slate-500">
          Copyright © {new Date().getFullYear()} Astroship. All rights reserved.
        </p>
      </div>
      <div>
        <p class="text-sm text-slate-500">
          Copyright © {new Date().getFullYear()} Astroship. All rights reserved.
        </p>
      </div>
    </div>

 -->
</Container>
