<article class="my-10 py-10 lg:mx-auto lg:w-11/12">
  <p class="max-w-screen-2xl text-2xl leading-relaxed md:px-14">
    Bärenherz - Verein für humanitäre Hilfe - wurde 2021 in der Schweiz mit dem
    Ziel gegründet, dort zu helfen, wo lebensnotwendige Unterstützung benötigt
    wird. Wir sind ein unabhängiger Verein, der durch das persönliche und
    ehrenamtliche Engagement der Mitglieder getragen wird und jeweils im Vorfeld
    definierte Projekte im Sinne der Philosophie des Vereins unterstützt.
  </p>
</article>
