---
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'

type Props = CollectionEntry<'blog'>['data']

const { title, cover, coverAlt } = Astro.props

import Layout from '@layouts/Layout.astro'
import Container from '@components/container.astro'
import Link from '@components/ui/Link.astro'
---

<Layout title={title}>
  <Container class="mx-14 my-10">
    <div class="py-6">
      <Link href="/blog">« Blog</Link>
    </div>
    <div class="">
      {cover && <Image width={1020} src={cover} alt={coverAlt} />}
    </div>

    <div class="my-8">
      <h1 class="py-4 text-3xl">{title}</h1>
      <div class="prose-xl lg:prose-xl">
        <slot />
      </div>
    </div>
  </Container>
</Layout>
