---
export interface Props {
  title: string
}

import '@fontsource/ubuntu'
const { title } = Astro.props

import Navbar from '../components/navbar/Navbar.astro'
import Footer from '../components/Footer.astro'
---

<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="Bärenherz" content="Verein für humanitäre Hilfe" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.avif" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="h-full">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  html {
    background-color: #f6f6f6;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #033277;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
